<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<body>
        <table>
            <caption> User </caption>
            <tr>
                <th>User name</th>
                <th>User email</th>
            </tr>
            <tr>
                <td>{{user['user_name']}}</td>
                <td>{{user['user_email']}}</td>
            </tr>
        </table>
		<br>
         <table>
            <caption> Student </caption>
            <tr>
                <th>First name</th>
				<th>Last name</th>
            </tr>
            <tr>
                <td>{{student['first_name']}}</td>
				<td>{{student['last_name']}}</td>
            </tr>
        </table>
</body>
</html>