<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>


    <form action = "/api" method = "POST" id="form_user">

        <p>user name: <input type = "text" name = "user_name" value="{{user.get('user_name')}}"/></p>
        <p>user email: <input type = "text" name = "user_email" value="{{user.get('user_email')}}" /></p>
     </form>

    <button type="submit" form="form_user" name="action" value="user_update">Submit</button>


</body>
</html>
